footer#footer p {
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    color: rgba(255,255,255,.55);
}

.img{
    background-image: url(../assets/download.jfif);
    opacity: 0.3;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}